$site-slate-name-image: url("./../../../assets/images/site_slate_name_bg.png");

$sm-background-image: url("./../../../assets/images/sm_bg.png");
$sm-name-background-image: url("./../../../assets/images/sm_name_bg.png");
$sm-content-background-colour: #dedede;
$sm-heading-background-colour: #c3c7c3;
$sm-grid-background-colour1: white;
$sm-grid-background-colour2: #e8e8e8;
