<div *ngIf="!slate">
  No Selection
</div>
<div class="row end-xs no-print" *ngIf="slate">
  <div class="col-xs-12">
    <i class="fa fa-close clickable" (click)="closeClicked()"></i>
  </div>
</div>
<div class="row" *ngIf="slate">
  <div class="col-xs-6">
    <div class="row slate theme-sm front">
      <div class="col-xs-12">
        <div class="row slate-content">
          <div class="col-xs-12 name">
            <div>
              {{slate.name}}
            </div>
            <div class="name2">
              {{slate.name2}}
            </div>
          </div>
          <div class="col-xs-12 statline">
            <div class="row middle-xs statline-heading">
              <div class="col-xs-3 only-left-pad start-xs statline-heading-stat">
                NAME
              </div>
              <div class="col-xs-1 no-pad">
                M
              </div>
              <div class="col-xs-1 no-pad">
                WS
              </div>
              <div class="col-xs-1 no-pad">
                BS
              </div>
              <div class="col-xs-1 no-pad">
                S
              </div>
              <div class="col-xs-1 no-pad">
                T
              </div>
              <div class="col-xs-1 no-pad">
                W
              </div>
              <div class="col-xs-1 no-pad">
                A
              </div>
              <div class="col-xs-1 no-pad">
                Ld
              </div>
              <div class="col-xs-1 no-pad">
                Sv
              </div>
            </div>
            <div class="row middle-xs statline-profile" *ngFor="let profile of slate.profiles; let odd=odd;" [ngClass]="{odd: odd}">
              <div class="col-xs-3 only-left-pad start-xs statline-profile-name">
                {{profile.name}}
              </div>
              <div class="col-xs-1 no-pad">
                {{profile.move}}
              </div>
              <div class="col-xs-1 no-pad">
                {{profile.weaponSkill}}
              </div>
              <div class="col-xs-1 no-pad">
                {{profile.ballisticSkill}}
              </div>
              <div class="col-xs-1 no-pad">
                {{profile.strength}}
              </div>
              <div class="col-xs-1 no-pad">
                {{profile.thoughness}}
              </div>
              <div class="col-xs-1 no-pad">
                {{profile.wounds}}
              </div>
              <div class="col-xs-1 no-pad">
                {{profile.attacks}}
              </div>
              <div class="col-xs-1 no-pad">
                {{profile.leadership}}
              </div>
              <div class="col-xs-1 no-pad">
                {{profile.save}}
              </div>
            </div>
          </div>
          <!-- <div class="col-xs-12 start-xs unitcomp">
            {{slate.unitComp}}
          </div> -->
          <div class="col-xs-12">
            <div class="row middle-xs weapon-heading">
              <div class="col-xs-4 only-left-pad start-xs">
                WEAPON
              </div>
              <div class="col-xs-1 no-pad">
                R
              </div>
              <div class="col-xs-2 no-pad">
                T
              </div>
              <div class="col-xs-1 no-pad">
                S
              </div>
              <div class="col-xs-1 no-pad">
                AP
              </div>
              <div class="col-xs-1 no-pad">
                D
              </div>
              <div class="col-xs-2 no-pad">
                *
              </div>
            </div>
          </div>
          <div class="col-xs-12" >
            <div class="row">
              <div class="col-xs-12 weapon-profiles" (click)="showWeaponOptions()">
                <div *ngFor="let weapon of filterEquipedWeapons();let odd=odd; let last=last" [ngClass]="{oddweapon: odd}">
                  <div class="row middle-xs weapon-profile" *ngIf="weapon.profiles.length > 1">
                    <div class="col-xs-4 start-xs only-left-pad">
                      {{weapon.name}}
                    </div>
                    <div class="col-xs-8 start-xs no-pad">
                      {{weapon.multiProfileComment}}
                    </div>
                  </div>
                  <div class="row middle-xs weapon-profile" [ngClass]="{lastItem: last}" *ngFor="let wprofile of weapon.profiles">
                    <div class="col-xs-4 start-xs only-left-pad">
                      {{wprofile.name}}
                    </div>
                    <div class="col-xs-1 no-pad">
                      {{wprofile.range}}
                    </div>
                    <div class="col-xs-2 no-pad">
                      {{wprofile.type}}
                    </div>
                    <div class="col-xs-1 no-pad">
                      {{wprofile.strength}}
                    </div>
                    <div class="col-xs-1 no-pad">
                      {{wprofile.ap}}
                    </div>
                    <div class="col-xs-1 no-pad">
                      {{wprofile.damage}}
                    </div>
                    <div class="col-xs-2 no-pad">
                      <span *ngIf="wprofile.abilityNumber > 0">{{wprofile.abilityNumber}}</span>
                      <span *ngIf="!wprofile.abilityNumber">{{wprofile.abilities}}</span>
                    </div>
                  </div>
                </div>
                <div class="row spacer">
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-xs-12">
            <div class="row psyker" *ngIf="slate.psyker">
              <div class="col-xs-12 psyker-heading  start-xs only-left-pad minor-title">
                PSYKER
              </div>
              <div class="col-xs-6 start-xs only-left-pad">
                <span>Manifest:</span> {{slate.psyker.manifest}}
              </div>
              <div class="col-xs-6 start-xs">
                <span>Deny:</span> {{slate.psyker.deny}}
              </div>
              <div class="col-xs-12 start-xs only-left-pad">
                <span>Knows:</span> {{slate.psyker.knows}}
              </div>
            </div>
          </div>
          <div class="col-xs-12 start-xs only-left-pad keywords">
            {{slate.factionKeywords.join(', ')}}
          </div>
          <div class="col-xs-12 start-xs only-left-pad keywords">
            {{slate.keywords.join(', ')}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="row slate theme-sm back">
      <div class="col-xs-12 slate-content ability-edit" (click)="showAbilityOptions()">
        <div class="row abilities" *ngIf="slate.abilities.length > 0" >
          <div class="col-xs-12 only-left-pad start-xs minor-title">
            ABILITIES
          </div>
          <div class="col-xs-12 start-xs">
            <div class="row">
              <div class="col-xs-12 ability" *ngFor="let ability of slate.abilities">
                <span class="ability-name">{{ability.name}}: </span>
                <span *ngIf="ability.displayFullText">{{ability.detail}}</span>
                <span *ngIf="!ability.displayFullText">{{ability.compact}}</span>
              </div>
            </div>
          </div>
          <div class="col-xs-12 start-xs">
              <div class="row">
                <div class="col-xs-12 ability" *ngFor="let ability of slate.weaponAbilities">
                  <span class="ability-name">{{ability.name}}: </span>
                  <span>{{ability.detail}}</span>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog class="weapon-option-modal" header="Weapon Options" [(visible)]="displayWeaponOptions" modal="modal" [width]="600">
  <div class="row start-xs unit-comp">
    <div class="col-xs-12">
      <p>{{slate.unitComp}}</p>
    </div>
  </div>
  <div class="row start-xs wargear-text" *ngIf="slate.wargear.wargearText.length > 0">
    <div class="col-xs-12">
      <ul>
        <li *ngFor="let wargearText of slate.wargear.wargearText">{{wargearText}}</li>
      </ul>
    </div>
  </div>
  <div class="row start-xs include-options">
    <div class="col-xs-12 include-heading">
      Include following options
    </div>
    <div class="col-xs-6 inlcude-option start-xs" *ngFor="let wargearOption of slate.wargear.wargearOptions">
        <p-checkbox name="groupname" value="{{wargearOption.name}}" label="{{wargearOption.name}}" [(ngModel)]="selectedValues"></p-checkbox>
    </div>
  </div>
  <div class="row end-xs include-buttons">
    <div class="col-xs-12">
      <button type="button" pButton icon="fa-check" (click)="saveWeaponOptions()" label="Save">Save</button>
      <button type="button" pButton icon="fa-close" (click)="displayWeaponOptions=false" label="Cancel">Cancel</button>
    </div>
  </div>
</p-dialog>

<p-dialog class="ability-option-modal" header="Abilities" [(visible)]="displayAbilityOptions" modal="modal" [width]="600">
    <div class="row start-xs include-options">
      <div class="col-xs-12 include-heading">
        Include Full Text
      </div>
      <div class="col-xs-6 inlcude-option start-xs" *ngFor="let ability of slate.abilities">
          <p-checkbox name="groupname" value="{{ability.name}}" label="{{ability.name}}" [(ngModel)]="selectedAbilities"></p-checkbox>
      </div>
    </div>
    <div class="row end-xs include-buttons">
      <div class="col-xs-12">
        <button type="button" pButton icon="fa-check" (click)="saveAbilityOptions()" label="Save">Save</button>
        <button type="button" pButton icon="fa-close" (click)="displayAbilityOptions=false" label="Cancel">Cancel</button>
      </div>
    </div>
  </p-dialog>