@import "./../../../assets/scss/typography.scss";
@import "./../../../assets/scss/themes.scss";

.clickable {
    cursor: pointer;
}

.slate {
    border: solid 1px grey;
    border-radius: 5px;
    width: 63mm;
    height: 88mm;

    background-repeat: no-repeat;
    background-size: cover;

    padding-left:3mm;
    padding-right:3mm;
    
    margin-bottom: 10px;
    margin-right: 5px;

    .slate-content {
        border: solid 2px black;
        border-radius: 5px;
        margin-top: 3mm;
        margin-bottom: 3mm;

        .no-pad {
            padding-left: 0;
            padding-right: 0;
        }

        .only-left-pad {
            padding-left: 3px;
            padding-right: 0;
        }

        .spacer {
            border-bottom: solid 1px black;
        }

        .minor-title {
            @include oswald-bold(10px);
        }

        .name {
            height: fit-content;
            padding-top: 2px;
            padding-bottom: 2px;
            @include noto-bold(12px);
            color: white;
            background-repeat: no-repeat;
            background-size: cover;

            .name2 {
                @include noto-bold(9px);
            }
        }

        .statline {
            height: fit-content;
            border-bottom: solid 2px black;

            .statline-heading {
                color: black;
                @include oswald-bold(10px);
            }
    
            .statline-profile-name {
                @include noto(8px); 
            }

            .statline-profile {
                color: black;
                @include noto(10px);
            }
        }

        .unitcomp {
            @include noto(8px);
            padding-left: 3px;
            padding-right: 3px;
            padding-bottom: 2px;
        }

        .weapon-heading {
            @include oswald-bold(10px);
            border-bottom: solid 2px black;
        }
        
        .weapon-profiles {

            cursor: pointer;
            transition: all .2s ease-in-out;
            &:hover {
                transform: scale(1.05);
                border: 2px solid red;
            }

            .weapon-profile {
                @include noto(8px);
                padding-top: 2px;
                padding-bottom: 2px;
            }
        }

        .wargear {
            @include noto(8px);
            border-bottom: solid 1px black;
           
            .wargear-options {
                padding-left: 3px;
                margin-top: 2px;
                margin-bottom: 2px;
            }
        }

        &.ability-edit {
            transition: all .2s ease-in-out;
            &:hover {
                transform: scale(1.05);
                border: 2px solid red;
                cursor: pointer;
            }
        }

        .abilities {
            @include noto(9px);
    
            .ability {
                padding-bottom: 5px;
            }
           
           .ability-name {
               @include noto-bold(9px);
           }
        }

        .psyker {

            .psyker-heading {
                @include oswald-bold(10px);
                border-bottom: solid 2px black;
            }

            @include noto(8px);
            border-bottom: solid 1px black;
            span {
                @include noto-bold(8px);
            }
        }

        .keywords {
            @include noto-bold(8px);
            text-transform: uppercase;
            border-bottom: solid 1px black;
        }
    }
    
    //Themes
    &.theme-sm {
        background-image: $sm-background-image;

        .slate-content {
            background-color: $sm-content-background-colour;

            .name {
                background-image: $sm-name-background-image;
            }

            .statline {
                background-color: $sm-heading-background-colour;
    
                .statline-heading {
                    background-color: $sm-grid-background-colour1;
                }
        
                .statline-profile {
                    &.odd {
                        background-color: $sm-grid-background-colour2;
                    }
        
                }
            }

            .weapon-heading {
                background-color: $sm-heading-background-colour;
            }

            .psyker {
                .psyker-heading {
                    background-color: $sm-heading-background-colour;
                }
            }

            .oddweapon {
                .row {
                    background-color: $sm-grid-background-colour2;
                }
            }

            .weapon-profile {
                background-color: $sm-grid-background-colour1;
            }

            
        }

    }
}

.weapon-option-modal {
    @include noto(14px);
    .unit-comp {
        @include noto-bold(14px);
    }
    .wargear-text {
        
    }
    .include-options{
        .include-heading {
            @include noto-bold(14px);
        }
    }

    .include-buttons {
        margin-top: 20px;
    }
}

.ability-option-modal {
    @include noto(14px);
    
    .include-options{
        .include-heading {
            @include noto-bold(14px);
            margin-bottom: 10px;
        }
    }

    .include-buttons {
        margin-top: 20px;
    }
}


/deep/ 
.ui-dialog {
    .ui-dialog-titlebar {
        background-image: $sm-name-background-image;
        color: white;
    }
    .ui-dialog-content {
        background-color: $sm-grid-background-colour2;
    }
}

@media print {
    .no-print {
        display: none !important;
    }
}
