/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Noto Serif', serif;
    background-color: #d1cfce;
    color: black;
}

@media print {
    body {
        background-color: white !important;
    }
}