<div class="main-container">
  <div class="row title no-print">
    <div class="col-xs-12">

    </div>
  </div>
  <div class="row">
    <div class="col-xs-1 factions no-print">
        <div class="faction da-select" [ngClass]="{ 'active' : (selectedFaction$ | async) === 'da'}" (click)="changeFaction('da')"></div>
        <div class="faction necron-select" [ngClass]="{ 'active' : (selectedFaction$ | async) === 'necrons'}"  (click)="changeFaction('necrons')"></div>
        <div class="faction tyranid-select" [ngClass]="{ 'active' : (selectedFaction$ | async) === 'tyranids'}" (click)="changeFaction('tyranids')"></div>
    </div>
    <div class="col-xs-3 no-print">
      <app-slate-list [isLoading]="isSlatesLoading$ | async" [slates]="slates$ | async" (selected)="selectedSlate($event)">
      </app-slate-list>
    </div>
    <div class="col">
      <div *ngFor="let slate of selectedSlates$ |async; let index = index" [ngClass]="{'print-page-break' : (index + 1) % 3 == 0}">
        <app-slate-main [slate]="slate" [slateId]="index" (closed)="slateClosed($event)" >
        </app-slate-main>
      </div>
    </div>
  </div>
</div>